<div class="is-pulled-right rating">
  <p class="subtitle is-6">
    Rate it :
  </p>
  <p class="field">
    <a class="button is-success is-outlined is-large" ng-click="$ctrl.liked=true" ng-class="{'is-focused':$ctrl.liked}">
          <span class="icon is-large">
            <i class="fa fa-thumbs-o-up"></i>
          </span>
    </a>
    <a class="button is-danger is-outlined is-large" ng-click="$ctrl.liked=false" ng-class="{'is-focused':!$ctrl.liked}">
          <span class="icon is-large">
            <i class="fa fa-thumbs-o-down"></i>
          </span>
    </a>
  </p>
</div>