<div class="jumbotron jumbotron-fluid night-jumbotron"
     style=" padding-bottom: 3rem;
            padding-top: 1rem;
            margin-bottom: 0rem;">
  <div class="container">
    <h1 class="display-4">{{$ctrl.id}}</h1>
    <p class="lead"></p>
    <button class="btn btn-primary float-right rounded-circle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      +
    </button>
  </div>
</div>
<div class="container-fluid">
  <nightoutphotos photos="$ctrl.photos"></nightoutphotos>

  <div class="row mt-3">
    <div class="col-3">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Participants</h4>
          <div class="list-group">

            <a href="#" class="list-group-item list-group-item-action" ng-repeat="i in [1,2,3,4,5]">Dapibus ac facilisis in</a>

          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Details</h4>
          <div class="container">
            <div class="row">
              <div class="col-3">
                <p class="h6">Experience</p>
              </div>
              <div class="col-9">
                <p class="lead">
                  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="h6">Drinks</p>
              </div>
              <div class="col-9">
                <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                    <h6>Heineken</h6>
                    <span class="badge badge-default badge-pill">14</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    <h6>Berber</h6>
                    <span class="badge badge-default badge-pill">2</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                    <h6>Celtia</h6>
                    <span class="badge badge-default badge-pill">1</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="h6">Kamia</p>
              </div>
              <div class="col-9">
                <p class="lead">
                  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card Comments">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Comments
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <ul class="list-unstyled">
                <li class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://lorempixel.com/output/nightlife-q-c-64-64-5.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </li>
                <li class="media my-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://lorempixel.com/output/nightlife-q-c-64-64-5.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </li>
                <li class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://lorempixel.com/output/nightlife-q-c-64-64-5.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label for="exampleTextarea">Comment</label>
                    <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Comment</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-block" style="padding: 0px">
          <h4 class="card-title">Place</h4>
          <div class="card card-inverse">
            <img class="card-img" src="http://lorempixel.com/output/nightlife-q-c-128-128-9.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title">Place Name</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>