<!--<div class="pageloader" ng-class="{'is-active':$ctrl.loading}"></div>-->
<Calltoactionbanner></Calltoactionbanner>
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-9">
        <div class="columns">
          <Contentleft></Contentleft>
        </div>
          <Contentmiddle nights="$ctrl.Nights"></Contentmiddle>
      </div>
      <div class="column is-3">
        <Contentright></Contentright>
      </div>
    </div>
  </div>
</section>
