<div class="fullscreen-bg">
  <video loop muted autoplay poster="https://rawgit.com/MedElfadhelELHACHEMI/CDN/master/343637036.png" class="fullscreen-bg__video">
    <source src="https://rawgit.com/MedElfadhelELHACHEMI/CDN/master/343637036.webm" type="video/webm">
    <source src="https://rawgit.com/MedElfadhelELHACHEMI/CDN/master/343637036.mp4" type="video/mp4">
  </video>
</div>
<div  class="overlay">
  <div class="section index">
    <div class="container ">
      <div class="columns">
        <div class="column" >
          <h1 class="subtitle is-1 has-text-white">Share your Night out</h1>
          <a class="button is-info" ng-click="$ctrl.authenticate('facebook')">
      <span class="icon">
        <i class="fa fa-facebook"></i>
      </span>
            <span>Sign in with facebook</span>
          </a>
        </div>
      </div>

    </div>
  </div>


</div>