<nav class="nav flex-column">
  <a class="nav-link active" href="#">
    <div class="card">
      <div class="card-header">
        <div class="h5">Meilleur 9a3da de la semaine</div>
      </div>
      <div class="card-block">
        <div class="card card-inverse">
          <img class="card-img img-fluid " src="http://lorempixel.com/output/nightlife-q-c-640-480-10.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">esm el 9a3da</h4>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">{{ $ctrl.name }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="nav-link" href="#">
    <div class="card">
      <div class="card-header">
        <div class="h5">Meilleur 9a3da du mois</div>
      </div>
      <div class="card-block">
        <div class="card card-inverse">
          <img class="card-img img-fluid " src="http://lorempixel.com/output/nightlife-q-c-640-480-5.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">esm el 9a3da</h4>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">{{ $ctrl.name }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="nav-link" href="#">
    <div class="card">
      <div class="card-header">
        <div class="h5">Boisson le plus consommé</div>
      </div>
      <div class="card-block">
        <div class="card card-inverse">
          <img class="card-img img-fluid " src="http://lorempixel.com/output/nightlife-q-c-640-480-2.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">esm el 9a3da</h4>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">{{ $ctrl.name }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
</nav>