<div class="box">
  <aside class="menu">
    <p class="menu-label">
    Best Drink
  </p>
    <ul class="menu-list">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="http://lorempixel.com/output/nightlife-q-c-48-48-10.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6">Heineken</p>
        </div>
      </div>
    </ul>
    <p class="menu-label">
      Best Bar
    </p>
    <ul class="menu-list">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="http://lorempixel.com/output/nightlife-q-c-48-48-3.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6">Yuka</p>
        </div>
      </div>
    </ul>
  </aside>
</div>
