<div class="container">
   <div class="row">
    <div class="col-lg-8 offset-lg-2 create">
      <form style="margin-top: 5%">
        <div class="form-group row ">
          <label for="example-text-input" class="col-2 col-form-label">Titre de la soirée</label>
          <div class="col-10">
            <input class="form-control" type="text" value="Soirrée inoubliable" id="example-text-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleTextarea" class="col-2 col-form-label">Experience</label>
          <div class="col-10">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </div>
      </form>
      <form action="/file-upload"
            class="dropzone"
            id="my-awesome-dropzone"
            dropzone="dropzoneConfig">
      </form>
      <div class="form-group row">
        <div class="col-2">
          <label for="example-text-input1" class="col-2 col-form-label">nombre</label>
          <input class="form-control" type="number" value="" id="example-text-input1">
        </div>
        <div class="col-10">
          <label for="exampleSelect1">Boisson</label>
          <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-2">
          <label for="example-text-input11" class="col-2 col-form-label">nombre</label>
          <input class="form-control" type="number" value="" id="example-text-input11">
        </div>
        <div class="col-10">
          <label for="exampleSelect11">Kamya</label>
          <select class="form-control" id="exampleSelect11">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>
    </div>

  </div>

</div>
